                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> <p class="text-soft">&copy; <span id="currentYear"></span> N-VMS. All Rights Reserved.</p></div>
                            <div class="nk-footer-links">

                            </div>
                        </div>
                    </div>
                </div>