<div class="nk-sidebar nk-sidebar-fixed  " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-menu-trigger"><a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
                data-target="sidebarMenu" ><em class="icon ni ni-arrow-left"></em></a><a href="#"
                class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu" style="color: white !important;"><em
                    class="icon ni ni-menu"></em></a></div>
        <div class="nk-sidebar-brand"><a href="/" class="logo-link nk-sidebar-logo"><img class="logo-light logo-img"
                    src="/images/coat.png" srcset="/images/coat.png 4x" alt="logo"
                    style="width: 300px; height: 200px;"><img class="coat logo-img" src="/images/coat.png"
                    srcset="/images/coat.png 4x" alt="coat" style="width: 50px; height: 50px;"></a></div>
    </div>
    <div class="nk-sidebar-element nk-sidebar-body">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item"><a href="/record" class="nk-menu-link "><span class="nk-menu-icon"><em
                                    class="icon ni ni-dashboard"></em></span><span class="nk-menu-text">Manage
                                Records</span></a></li>
                    <li class="nk-menu-item"><a href="/api/Home" class="nk-menu-link "><span class="nk-menu-icon"><em
                                    class="icon ni ni-dashboard"></em></span><span class="nk-menu-text">Settings</span></a></li>
                    <li class="nk-menu-item has-sub"><a href="javascript:void(0)" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span><span
                                class="nk-menu-text">staff</span></a>
                        <ul class="nk-menu-sub">
                              <li class="nk-menu-item"><a href="/api/create" class="nk-menu-link "><span class="nk-menu-icon"><em
                                    class="icon ni ni-calendar-check"></em></span><span class="nk-menu-text">Staff
                                attendance</span></a></li>
                            <li class="nk-menu-item"><a href="/api/staff" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span><span
                                        class="nk-menu-text"><span class="nk-menu-text">Manage staff</span></a></li>
                            <li class="nk-menu-item"><a href="/api/designation" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-briefcase"></em></span><span
                                        class="nk-menu-text">Manage designation</span></a></li>
                            <li class="nk-menu-item"><a href="/api/role" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-shield"></em></span><span
                                        class="nk-menu-text">Manage Roles</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>