<!DOCTYPE html>
<html lang="zxx" class="js">
<!-- Mirrored from dashlite.net/demo1/components/tables/table-datatable.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 May 2025 07:45:04 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="shortcut icon" href="/images/coat.png">
    <title>DataTables - General | DashLite Admin Template</title>
    <link rel="stylesheet" href="../../assets/css/dashlitee1e3.css?ver=3.2.4">
    <link rel="stylesheet" href="/assets/css/style1.css">
    <link id="skin-default" rel="stylesheet" href="../../assets/css/themee1e3.css?ver=3.2.4">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-91615293-4');</script>

     <style>
        .spinner-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            /* Ensures it's above other content */
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(21, 21, 41, 0.5);
            color: #0c385f;
            /* Optional: background shade */
        }
    </style>
</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">
    <div class="nk-app-root">
        <div class="nk-main ">
            <%-include('sidebar.ejs')-%>
                <div class="nk-wrap ">
                    <%-include('header.ejs')-%>
                        <div class="nk-content ">
                            <div class="container-fluid">
                                <div class="nk-content-inner">
                                    <div class="nk-content-body">
                                        <div class="components-preview wide-md mx-auto">
                                            <div class="nk-block-head nk-block-head-lg wide-sm">
                                                <div class="nk-block-head-content">

                                                    <h2 class="nk-block-title fw-normal">Staff Attendance</h2>

                                                </div>
                                            </div>

                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <div class="form-icon form-icon-right xl"><em
                                                                class="icon ni ni-calendar-alt"></em></div>
                                                        <input type="text"
                                                            class="form-control form-control-xl form-control-outlined date-picker"
                                                            id="outlined-date-picker">
                                                        <label class="form-label-outlined"
                                                            for="outlined-date-picker">Select Date</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="nk-block nk-block-lg">

                                                <div class="card card-bordered card-preview">
                                                    <div class="card-inner">
                                                        <table id="attendanceTable"
                                                            class="datatable-init-export nowrap table"
                                                            data-export-title="Export">
                                                            <thead>
                                                                <tr>
                                                                    <th>S/N</th>
                                                                    <th>Date</th>
                                                                    <th>Number of Staff</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nk-footer">
                            <div class="container-fluid">
                                <div class="nk-footer-wrap">
                                    <div class="nk-footer-copyright"> &copy; 2024 DashLite. Template by <a
                                            href="https://softnio.com/" target="_blank">Softnio</a></div>
                                    <div class="nk-footer-links">
                                        <ul class="nav nav-sm">
                                            <li class="nav-item dropup"><a href="#"
                                                    class="dropdown-toggle dropdown-indicator has-indicator nav-link text-base"
                                                    data-bs-toggle="dropdown"
                                                    data-offset="0,10"><span>English</span></a>

                                            </li>
                                            <li class="nav-item"><a data-bs-toggle="modal" href="#region"
                                                    class="nav-link"><em class="icon ni ni-globe"></em><span
                                                        class="ms-1">Select
                                                        Region</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>

    <div class="modal fade" id="attendanceModal" tabindex="-1" aria-labelledby="attendanceModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mark Attendance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="attendanceTable">
                        <thead>
                            <tr>
                                <th>Staff Name</th>
                                <th>Is Present</th>
                                <th>Remarks</th>
                                <th>Check in</th>
                                <th>Check out</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Rows will be populated dynamically -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveAttendance" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../../assets/js/bundlee1e3.js?ver=3.2.4"></script>
    <script src="../../assets/js/scriptse1e3.js?ver=3.2.4"></script>
    <script src="../../assets/js/demo-settingse1e3.js?ver=3.2.4"></script>
    <script src="../../assets/js/libs/datatable-btnse1e3.js?ver=3.2.4"></script>

    <script>
        $(document).ready(function () {
            const currentPath = window.location.pathname;
            console.log("Current Path:", currentPath);

            $(".nk-menu-link").each(function () {
                const linkPath = new URL(this.href).pathname;
                console.log("Link Path:", linkPath);
                if (linkPath === currentPath) {
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            });
        });
        $(document).ready(function () {

            function loadAttendanceSummary() {
                $.ajax({
                    url: '/api/hello',
                    method: 'GET',
                    success: function (response) {
                        const attendances = response.data;
                        const tbody = $('#attendanceTable tbody');
                        tbody.empty();

                        attendances.forEach((att, index) => {
                            const row = `
                        <tr>
                        <td>${index + 1}</td>
                        <td>${att.date}</td>
                        <td>${att.staffCount}</td>
                        <td>
                            <div class="dropdown dropstart">
                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown">
                                    <em class="icon ni ni-more-h"></em>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                        <li>
                                            <a href="/api/view/${att.date}" >
                                                <em class="icon ni ni-eye"></em><span>Edit Details</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" onclick="deleteAttendance('${att.date}'); return false;">
                                                <em class="icon ni ni-na"></em><span>Delete Attendance</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    `;
                            tbody.append(row);
                        });

                        // Initialize DataTable if not already
                        if (!$.fn.DataTable.isDataTable('#attendanceTable')) {
                            $('#attendanceTable').DataTable({
                                responsive: true,
                                dom: 'Bfrtip',
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                            });
                        }
                    },
                    error: function (err) {
                        console.error('Error fetching attendance summary:', err);
                    }
                });
            }

            loadAttendanceSummary();

            $('#outlined-date-picker').on('change', function () {
                const selectedDate = $(this).val();
                if (!selectedDate) return;

                // Fetch staff list via AJAX
                $.ajax({
                    url: '/api/staff', // Your endpoint to get staff list
                    method: 'GET',
                    success: function (res) {
                        if (res.success && res.data.length > 0) {
                            const tbody = $('#attendanceTable tbody');
                            tbody.empty(); // clear previous rows

                            res.data.forEach(staff => {
                                const row = `<tr data-staff-id="${staff.id}">
                                        <td>${staff.first_name} ${staff.last_name}</td>
                                        <td><input type="checkbox" class="is-present" /></td>
                                        <td><input type="text" class="form-control remark" placeholder="Enter remark"/></td>
                                        <td><input type="time" class="check-in"></td>
    <td><input type="time" class="check-out"></td>
                                     </tr>`;
                                tbody.append(row);
                            });

                            // Show modal
                            $('#attendanceModal').modal('show');
                        }
                    },
                    error: function (err) {
                        console.error('Failed to fetch staff:', err);
                    }
                });
            });

            // Toggle remarks field based on checkbox
            $(document).on('change', '.is-present', function () {
                const isChecked = $(this).is(':checked');
                const remarkInput = $(this).closest('tr').find('.remark');
                const checkIn = $(this).closest('tr').find('.check-in');
                const checkOut = $(this).closest('tr').find('.check-out');
                if (isChecked) {
                    remarkInput.val('').hide();
                    checkIn.show();
                    checkOut.show();
                } else {
                    remarkInput.show();
                    checkIn.hide();
                    checkOut.hide();
                }
            });

            // Save attendance
            $('#saveAttendance').on('click', function () {
                const attendanceData = [];

                $('#attendanceTable tbody tr').each(function () {
                    const staffId = $(this).data('staff-id');
                    const isPresent = $(this).find('.is-present').is(':checked');
                    const remark = $(this).find('.remark').val() || null;
                    const dateRaw = $('#outlined-date-picker').val();
                    const date = moment(dateRaw, 'MM/DD/YYYY').format('YYYY-MM-DD');
                    const checkIn = $(this).find('.check-in').val() || null;
                    const checkOut = $(this).find('.check-out').val() || null;

                    attendanceData.push({
                        staff_id: staffId,
                        date: date,
                        isPresent: isPresent,
                        remarks: remark,
                        check_in_time: checkIn,
                        check_out_time: checkOut
                    });
                });

                console.log('attendance data:', attendanceData);
                $.ajax({
                    url: '/api/attendance',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(attendanceData),
                    success: function (res) {
                        alert('Attendance saved successfully!');
                        $('#attendanceModal').modal('hide');
                    },
                    error: function (err) {
                        console.error('Failed to save attendance:', err);
                    }
                });
            });

        });

        window.addEventListener('pageshow', function (event) {
            if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {

                window.location.reload();
            }
        });

        $(document).ready(function () {
            $('#logout-link').on('click', function (e) {
                e.preventDefault();

                console.log('reached')
                $.ajax({
                    type: 'POST',
                    url: '/api/logout',
                    contentType: 'application/json',
                    success: function (response) {
                        showToast("Success", "Logged out in successfully", "text-success");
                        window.location.href = '/'
                    },
                    error: function (xhr) {
                        let message = "Request failed. Please try again.";
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            message = xhr.responseJSON.message;
                        }
                        showToast("Error", message, "text-danger");
                        return;
                    },
                });
            })

            function showToast(title, body, titleClass) {
                const toastHtml = `
                <div class="toast align-items-center text-bg-light border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                    <div class="toast-header">
                        <strong class="me-auto ${titleClass}">${title}</strong>
                        <small class="text-muted">Now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">${body}</div>
                </div>`;

                const $toast = $(toastHtml);
                $('.toast-container').append($toast);
                const toast = new bootstrap.Toast($toast[0]);
                toast.show();
            }
        })
    </script>
</body>
<!-- Mirrored from dashlite.net/demo1/components/tables/table-datatable.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 May 2025 07:45:04 GMT -->

</html>